.form {
    background-color: rgb(247, 231, 247);
}

.container {
    border: solid 1px  rgb(247, 231, 247) ;
    padding: 3%;
    margin: 20px auto;
    width: 70%;
    display: flex;
    height: 620px;
    background-color: rgb(247, 231, 247);
    font-size: 15px;
    font-family: 'poppins', sans-serif;


}

.left-side {
    width: 600px;
    height: 621px;
    border-right: solid 0.1px rgb(204, 188, 204);
    padding-right: 45px;
    
    
    

}

.left-side h1 {
    color: rgb(185, 21, 185);
    text-align: center;
    font-size: 35px;
    padding: 5px;
}

.left-side img {
    height: 470px;
    width: 400px;

}

.right-side {
    width: 600px;
    height: 561px;
    padding: 30px;
    font-family: 'poppins', sans-serif;
    padding-left: 45px;
    
    
    
    
}

h2 {
    margin-bottom: 5px;
}

.right-side p {
    margin-top: 5px;
    margin-bottom: 40px;
}

.right-side input {
    padding: 5px;
}

#names {
    display: flex;
    gap: 40px;
}



#names input {
    width: 170px;
    margin-top: 8px;
    margin-bottom: 10px;
    font-family: 'poppins', sans-serif;
    display: block;
    border: 1px solid rgb(230, 212, 212);
    border-radius: 3px;
    
}

.inputs {
    width: 390px;
    margin-top: 8px;
    margin-bottom: 10px;
    font-family: 'poppins', sans-serif;
    border-radius: 3px;
    border: 1px solid rgb(230, 212, 212);
}

.pass {
    position: relative;
}

.confirm {
    position: relative;
}

.fa-eye {
    position: absolute;
    top: 38px;
    right: 15px;
    color: rgb(100, 94, 94);
}

#button {
    width: 400px;
    height: 28px;
    background-color: rgb(185, 21, 185);
    margin-top: 0%;
    margin-bottom: 5px;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: 'poppins', sans-serif;
    cursor: pointer;
}

#button:hover {
    color: black;
    background-color: rgb(184, 20, 134);
}

#account {
    text-align: center;
    margin-top: 7px;
    margin-bottom: 5%;
    font-family: 'poppins', sans-serif;

}

.sign-in {
    color: rgb(185, 21, 185);
    font-family: 'poppins', sans-serif;
}

#lines {
    position: relative;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    font-size: 15px;
    font-weight: normal;
}

#lines:before {
    content: " ";
    display: block;
    height: 0.4px;
    width: 45%;
    position: absolute;
    top: 50%;
    background: rgb(177, 173, 173);
}

#lines:after {
    content: " ";
    display: block;
    height: 0.5px;
    width: 45%;
    position: absolute;
    top: 50%;
    background: rgb(177, 173, 173);
    right: 0;
}

.icons {
    display: flex;
    gap: 30px;
    padding-left: 40px;
    font-size: 20px;
}

.google {
    border: 1px solid white;
    width: 50px;
    height: 29px;
    padding-left: 25px;
    padding-top: 2px;
    background-color: white;
    border-radius: 5px;

}

#svg {
    x: 0px;
    y: 0px;
    width: 24px;
    height: 24px;
}

.fa-facebook-f {
    border: 1px solid white;
    width: 50px;
    height: 25px;
    padding-left: 30px;
    padding-top: 5px;
    background-color: white;
    border-radius: 5px;
}

.fa-apple {
    border: 1px solid white;
    width: 50px;
    height: 26px;
    padding-left: 30px;
    padding-top: 5px;
    background-color: white;
    border-radius: 5px;
    color: black;
}
label{
    color: rgb(66, 60, 60);
}