.container{
    width: 90%;
}
.contact_information{
    display: flex;
    gap: 60%;
    padding-left: 8%;
    border-bottom: 1px solid rgb(224, 222, 222);
    width: 70%;
  margin-left: 10%;
}
.contact_information p{
margin-top: 0%;
margin-bottom: 0%;
}
.fa-envelope-open-text{
    color: blue;
    font-size: 200%;
    padding-left: 110%;
   
}
.fa-phone-volume{
    color: blue;
    font-size: 180%;
    padding-right: 3%;
}
.navigation{
    display: flex;
    gap: 5%;
    padding-left: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
}
a{
    text-decoration: none;
    color: black;
}
.home{
    color: rgb(241, 158, 2);
}
.last_image{
width: 70%;
height: 0%;
padding-left: 15%;
margin-bottom: 0px;
padding-bottom: 0px;

}
.icons{
   
    padding-top: 7%;
    padding-bottom: 7%;
    margin-left: 10%;
    display: flex;
    gap: 8%;
}
.get_started{
    background-image: url(image/iacf2.jpg);
    text-align: center;
    padding-top: 20%;
    margin-bottom: 5%;
    color: white;
}
.get_started p{
    font-weight: lighter;
}
.get_started h1{
    font-size: 200%;
}
.get_started button{
background-color: #F9B42E;
border: none;
height: 10%;
width: 9%;
color: white;
padding-top: 1%;
padding-bottom: 1%;
margin-bottom: 10%;
}
.about_us{
    display: flex;
    gap: 3%;
    height: 100%;
 padding-left: 20%;
}
.learn{
    width: 70%;
}
.learn img{
    width: 80%;
    height: 60%;
    
}
.learn p{
    color: #F9B42E;
    text-decoration: underline;
}
.about_riaad{
    width: 100%;
    margin-top: 10%;
}
.about_riaad{
    position: relative;
}


.inner{
    display: flex;
    gap: 5%;
}
.start{
    padding-left: 10%;
    
}
.start p{
    color: #F9B42E;
    text-decoration: underline;
}
.services{
    background-color: rgb(218, 213, 213);
    padding-top: 5%;
    margin-left: 10%;
    
}
.services p1{
    color: #F9B42E;
    padding-left: 44%;
    
}
.services h1{
    text-align: center;
}
.services a{
    color: #F9B42E;
    
}

.services_offered{
    display: flex;
    margin-left: 15%;
    width: 70%;
   
    margin-bottom: 4%;
    margin-top: 3%;
    background-color: white;
}
.packing{
    border: 1px solid white;
   padding-top: 10%;
   padding-right: 5%;
   padding-left: 5%;
   padding-bottom: 3%;
   height: 50%;
   width: 50%;
   
   
  
}

.storage{
    border: 1px solid blue;
    padding-top: 10%;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
    background-color: blue;
    height: 30%;
    width: 60%;
}
.storage a{
    color: white;
}
.transport{
    border: 1px solid white;
    padding-top: 10%;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
    height: 50%;
   width: 60%;
   border-right:1px solid rgb(228, 216, 216);
}
.insurance{
    border: 1px solid white;
    padding-top: 10%;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
    height: 50%;
   width: 50%;
}
.video{
    display: flex;
    padding-left: 30%;
    gap: 3%;
}
.justification{
    display: flex;
    margin-top: 5%;
    margin-left: 20%;
    gap: 5%;
    margin-bottom: 5%;
}
.left{
  background-color: blue;
    width: 30%;
}

.left a{
    color: #F9B42E;
    text-decoration: underline;
}


.right{
   
    padding-left: 5%;
    padding-right: 5%;
}
.right p1{
    color: #F9B42E;
    text-decoration: underline;
    font-size: 100%;
    border-bottom: 0%;

}
.right h1{
    font-size: 300%;
    margin-top: 0%;
}
.right p{
text-align: center;

}
.fa-check{
    background-color: #F9B42E;
   height: 45%;
   margin-top: 4%;
  margin-left: 7%;
  border-radius: 50%;
  width: 5%;
  padding-left: 1%;
 
}
.helping{
    border: 1px solid rgb(218, 213, 213);
    border-radius: 2.5%;
    background-color:  rgb(218, 213, 213);
    margin-top: 8%;
    height: 10%; 
    margin-bottom: 4%;
    display: flex;
}
.helping p{
    padding-left: 6%;
}

.discount{
    border: 1px solid white;
   height:10% ;
   margin-bottom: 10%;
   display: flex;
}
.discount p{
    padding-left:6% ;
}
.survey{
border: 1px solid rgb(218, 213, 213);
border-radius: 2.5%;
background-color:  rgb(218, 213, 213);
height: 10%;
display: flex;
}
.survey p{
    padding-left: 6%;
}
.justification img{
    position: relative;
    width: 90%;
    height: 70%;
}
.verification{
    position: absolute;
    background-color: white;
   padding-left: 1%;
   padding-right: 1%;
    top: 340%;
    left: 20%; 
}

.contact{
    text-align: center;
    padding-bottom: 3%;
}
.contact a{
    color: #F9B42E;
    text-decoration: underline;
    
}

.details{
    display: flex;
    /* padding-left: 15%; */
    max-height: none;
    margin: 0% auto;
    width: 90%;

}
.fa-play{
    width: 5%;
    height: 11%;
    border-radius: 90%;
    background-color: #F9B42E;
    color: white;
    padding-left: 3%;
    padding-top: 2%;
    position: absolute;
    overflow: visible;
    left: 40%;
    z-index: 1;
    top: 470%;
    font-size: 250%;

}

.people_with_boxes img{
    height: 60%;
    width: 60%;
    padding-left: 20%;
    position: relative;
    overflow: hidden;
}
.book{
    background-color:  #F9B42E;
    margin-top: 0%;
    width: 30%;
    /* height: 320px; */
    color: white;
    padding-left:10% ;  
}
.book p{
    padding-left: 25%;
    padding-top: 20%;
    text-decoration: underline;
    
}
.book h1{
    padding-left: 25% ;
    font-size: 200%;
}
.form_input{
    background-color: rgb(40, 125, 236);
    width: 100%;
    display: block;
    padding-top: 5%; 
    padding-bottom: 2%;  
}

.form_input .input{
    width: 50%;
    display: flex;
   gap: 0%;
    align-items: center;
    padding-bottom: 1.5%;
 
}

.input input{
    width: 200px;
    height: 50px;
}
.form_input label{
    padding-left:40% ;
    font-size: large;
    color: white;
}

.submit{
    background-color: #F9B42E;
    border: none;
    margin-left: 40%;
   color: white;
   padding: 2.5% 15%;
  
  
}
.testimonies{
    
    padding-top: 5%;
    background-color:rgb(229, 229, 236); 
    margin-left: 5%;
    padding-bottom: 5%;
    margin-right: 2%;
} 
.testimonies p1{
  padding-left: 44%;
    color: #F9B42E;
    text-decoration: underline;
    
} 
.testimonies p2{
    color: #F9B42E;
}
.testimonies h1{
    text-align: center;
    font-size: 250%;
}
.customer_reviews{
  display: flex;  
  gap: 3%;
  margin-left: 5%;
  
}
.customer_sofia{
    border: 1px solid white;
    background-color: white;
    padding-top: 7%;
    text-align: center;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 5%;
    padding-bottom: 4%;
}

.customer_christina{
    border: 1px solid white; 
    background-color: white;
    padding-top: 7%;
    text-align: center;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 5%;

}

.customer_charis{
    border: 1px solid white;
    background-color: white;
    padding-top: 7%;
    text-align: center;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 5%;

}
.newsletter {
margin-left: 5%;
}
.sign_up{
    border-bottom: rgb(233, 226, 226) solid 1px;
    padding-bottom: 5%;
    margin-top: 5%;
}
.sign_up p{
    text-align: center;
    color: #F9B42E;
    text-decoration: underline;
}
.sign_up h1{
    text-align: center;
    font-size: 200%;
}
.sign_up input{
    margin-left: 35%;
    padding-top: 2%;
    background-color: rgb(229, 229, 236); 
    border: none;
    padding-bottom: 2%;
    padding-right: 10%;
    padding-left: 2%;
}
.news{
    text-align: center;
}
.news p{
    color: #F9B42E;
    text-decoration: underline;
    padding-top: 5%;
}
.news h1{
    font-size: 200%;
}
.sign_up button{
    background-color: #F9B42E;
    width: 10%;
    color:white;
    border: none;
    padding-top: 0.8%;
    padding-bottom: 1.9%;
    font-weight: lighter;
    
   
}
.achievements{
    display: flex;
    margin-left: 3%;
    gap: 5%;
    
}
.achievements p{
    color: white;
}
.achievements h4{
    color: white;
    padding-top: 5%;
}
.blog{
background-image: url(image/download.jpeg);
margin-left: 10%;
}

.comment{
 background-image: url(image/download\ \(5\).jpeg);
 
}
.moving{
  background-image: url(image/offloading.jpeg); 
}

.impacts{
   
    display: flex;
    gap: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
    margin-left: 5%;
    padding-left: 8%;
    background-color: #F9B42E;
    
}
.impacts h1{
    color: white;
}
.impacts button{
    width: 15%;
    color: white;
    background-color: black;
    border: none;
}
.lists{
    display: flex;
    background-color: black;
    border: 1px solid white;
    margin-left: 5%;
    padding-top: 15%;
    margin-top: 0%;
    list-style-type: none;
    
}
.lists li{
    color: white;
}
